
  body {
    margin: 0;
    font-family: "Garamond";
    color: #7c3707;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: flex-start;  
    background-color: #9caf88;
    padding-top: 20px; 
  }
  

  .header {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-title img {
    height: 100px;
  }
  
  .logo-title h1 {
    font-size: 100px;
    margin: 0;
  }
  
  .content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .button-group button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #ffa64e;
    border: 1px solid #7c3707;
    cursor: pointer;
    border-radius: 5px;
    color: #7c3707;
    font-family: "Garamond";
  }
  
  .content-right p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

  h2 {
    text-align: center;
}
  
  .positioning {
    position: relative;
    top:90px;
    left: -715px;
    font-size: 60px;
    color: #7c3707;
    font-family: "Garamond";
    outline-style: double;
    outline-color:#ffa64e;
    outline-width: 10px;
  }

  .position {
    position: relative;
    top: 0px;
    left: -690px;
    font-size: 20px;
    color:#7c3707;
    font-family: "Garamond";
  }
